@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #D4DFD8;
    background-color: #212121;
    min-height: 100vh;
    overflow-x: hidden;
}

button, select {
    cursor: pointer;
    font-family: inherit;
}

input:focus {
    outline:none;
}

#app {
    height: 100vh;
}


.fade-enter-active {
    transition: opacity 0.5s;
}
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

